.cb_container * {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

.cb_container {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    font-size: 100% !important;
    background: #F1F1F1 !important;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #0074E4 0.52%, #4CB8E0 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0074E4 -2.14%, #4CB8E0 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #0074E4;
}

.chatbox {
    position: fixed !important;
    bottom: 30px !important;
    right: 30px !important;
    z-index: 1000 !important;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex !important;
    flex-direction: column !important;
    background: #eee !important;
    width: 450px !important;
    height: 600px !important;
    z-index: -123456 !important;
    opacity: 0 !important;
    transition: all .5s ease-in-out !important;
}

/* CONTENT IS OPEN */
.chatbox--active {
    transform: translateY(-40px) !important;
    z-index: 123456 !important;
    opacity: 1 !important;

}

/* BUTTON */
.chatbox__button {
    text-align: right !important;
}

.send__button {
    padding: 6px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
}

/* HEADER */
.chatbox__header {
    position: sticky !important;
    top: 0 !important;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto !important;
    display: flex !important;
    overflow-y: scroll !important;
    flex-direction: column-reverse !important;
}

.messages__item {
    background: orange !important;
    max-width: 80% !important;
    width: fit-content !important;
}

.messages__item--operator {
    margin-left: auto !important;
}

.messages__item--visitor {
    margin-right: auto !important;
}

/* FOOTER */
.chatbox__footer {
    position: sticky !important;
    bottom: 0 !important;
}

.chatbox__support {
    background: white !important;
    height: 700px !important;
    width: 450px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* HEADER */
.chatbox__header {
     background: var(--primaryGradient) !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 15px 20px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    box-shadow: var(--primaryBoxShadow) !important;
}

.chatbox__image--header {
    margin-right: 10px !important;
}

.chatbox__heading--header {
    font-size: 1.2rem !important;
    color: white !important;
}

.chatbox__description--header {
    font-size: .9rem !important;
    color: white !important;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px !important;
}

.messages__item {
    font-size: 13px !important;
    white-space: pre-wrap !important;
    margin-top: 10px !important;
    background: #F4F6F8 !important;
    padding: 8px 12px !important;
    max-width: 70% !important;
    line-height: 1.5 !important;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.messages__item--operator {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    background: var(--primary) !important;
    color: white !important;
    word-wrap: break-word !important;
}

/* FOOTER */
.chatbox__footer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 20px 20px !important;
    background: var(--secondaryGradient) !important;
    box-shadow: var(--secondaryBoxShadow) !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-top: 20px !important;
}

.chatbox__footer input {
    width: 80% !important;
    border: none !important;
    padding: 10px 10px !important;
    border-radius: 30px !important;
    text-align: left !important;
}

.chatbox__send--footer {
    color: white !important;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px !important;
    background: white !important;
    border: none !important;
    outline: none !important;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer !important;
}

.email__button {
    text-align: center !important;
    margin-top: 20px !important;
}

.email__button__send {
    border: none !important;
    background: none !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    font-size: .9rem !important;
}


